@import './custom.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+MX+Guides&display=swap');

@font-face {
    font-family: CustomFont;
    src: url('/fonts/ComicMono.ttf');
}

* {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

nav a{
    font-family: CustomFont !important;
}

body    {
    background-color: #cde8e5;
}
