// Sobrescribir colores de Bootstrap
$primary: #7ab2b2;
$secondary: #4d869c;
$success: #2a9d8f;
$danger: #e63946;

// Importar Bootstrap con los nuevos valores
@import "../node_modules/bootstrap/scss/bootstrap";